body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}
.section {
    padding: 120px 0;
}
ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
margin: 0;
}

a {
    text-decoration: none;
}
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.page-header {
    border-bottom: 1px solid #e7e9fc;
}
.header-container {
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}
.header-logo .logo-part {
    color: #2e2f42;
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contacts-link:hover,
.contacts-link:focus,
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.hero {
    background-color: #2e2f42;
    padding: 188px 0;
    text-align: center;
}

.hero-title {
    background-color: #2e2f42;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
max-width: 496px;
margin: 0 auto 48px;

}

.hero-button {
    display: block;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    padding: 16px 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;

    background-color: #4d5ae5;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf
}

.features {
    padding: 120px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.features-list {
    display: flex;
    gap: 24px;
}
.features-item {
    width: calc((100% - 72px) /4);
}

 .features-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    
    color: #2e2f42;
} 

.features-subtitle {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.features-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.team-title {
    text-align: center;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.team-list {
    display: flex;
    gap: 24px;
}
.team-item {
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
                0 1px 1px 0 rgba(46, 47, 66, 0.16), 
                0 1px 6px 0 rgba(46, 47, 66, 0.08);
    overflow: hidden;  
    width: calc((100% - 72px) /4);
}
.team-content {
    padding: 32px 16px;
    text-align: center;
}

.team-photo {
    display: block;
    width: 100%;
}

.team-name {
    margin-top: 32px;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-position {
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio {
    padding: 120px 0;
}
.portfolio-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.portfolio-item {
    width: calc((100% - 48px) / 3);
}
.portfolio-info {
    border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        padding: 32px 16px;
}
.portfolio-item-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}
.footer-logo {
    display: block;
    margin-bottom: 16px;
}
.footer-logo .logo-part {
    color: #f4f4fd;
}
.footer-text {
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}