body {
    font-family: "Roboto",sans-serif;
    color: #434455;
    background-color: #fff;
}
ul,ol {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.header-logo .logo-part {
color: #2e2f42;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.contacts {
    font-style: normal;
}

.contacts-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.contacts-link:hover,
.contacts-link:focus,
.nav-link:hover,
.nav-link:focus{
    color: #404bbf;
}

.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}
.footer-text {
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.hero {
background-color: #2e2f42;
padding: 188px 0;
}
.hero-title {
    background-color: #2e2f42;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}
.hero-button {
    font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background-color: #4d5ae5;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        padding: 16px 32px;
        margin-top: 24px;
}
.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf
}
.features-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.features-subtitle {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.features-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.team {
    background-color: #f4f4fd;
}

.team-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.team-photo {
    display: block;
}
.team-name {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.team-position {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
.portfolio-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.portfolio-item-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.portfolio-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}